img{
    border-radius: 10px;
}

a{
    font-size: 0.5em;
    color: #ddd;
}

.rec.rec-arrow-left{
    background: #666 !important;
    color: white;
    margin: 0 -4% 0 -2%;
    z-index: 999;
}

.rec.rec-arrow-right{
    background: #666 !important;
    color: white;
    margin: 0 0 0 -4%;
    z-index: 999;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}